// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #1B3C59;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #61CE4E;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$grey: #E8EBF1;

@mixin pt-3 {
  padding-top: 20px;
}

@mixin button {
  background-color: #F47637;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1.1em;

  &:hover{
    background-color: lighten(#F47637, 5%);
  }
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: $font-family-sans-serif;
}
