@import url("https://fonts.googleapis.com/css?family=Nunito");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%;
  font-family: "Nunito", sans-serif; }

nav {
  width: 100%;
  height: 80px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.08);
  padding: 0 20px;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 1; }
  nav::after {
    content: "";
    display: table;
    clear: both; }
  nav > .left-side {
    float: left;
    line-height: 80px;
    height: 100%;
    padding: 10px 0; }
    nav > .left-side > img {
      max-height: 100%; }
  nav > .right-side {
    float: right;
    line-height: 80px; }
    nav > .right-side ul {
      list-style: none;
      display: inline-block; }
      nav > .right-side ul li {
        display: inline-block;
        text-transform: uppercase;
        cursor: pointer;
        padding: 0 25px;
        margin: 0 5px; }
        nav > .right-side ul li:hover {
          border-bottom: 3px solid #61CE4E; }
    nav > .right-side button {
      background-color: #F47637;
      padding: 10px 20px;
      color: white;
      border: none;
      border-radius: 2px;
      cursor: pointer;
      font-size: 1.1em;
      margin-left: 20px; }
      nav > .right-side button:hover {
        background-color: #f5874f; }

main {
  margin-top: 80px;
  width: 100%;
  position: relative;
  overflow: hidden; }
  main .main {
    width: 80%;
    margin: auto;
    padding: 0 25px;
    height: 400px;
    display: flex; }
    main .main > * {
      flex-basis: 50%; }
    main .main > .main-left {
      padding: 50px; }
      main .main > .main-left > h1 {
        font-size: 45px;
        color: #61CE4E; }
      main .main > .main-left > button {
        background-color: #F47637;
        padding: 10px 20px;
        color: white;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        font-size: 1.1em;
        margin-top: 20px; }
        main .main > .main-left > button:hover {
          background-color: #f5874f; }
    main .main > .main-right {
      background-image: url("https://www.boolean.careers/images/common/mac2x.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      margin: 50px; }
    main .main > .back {
      width: 25%;
      height: 100%;
      background-color: #61CE4E;
      position: absolute;
      right: 0;
      z-index: -1; }
      main .main > .back:after {
        content: '';
        width: 300px;
        height: 133%;
        position: absolute;
        left: -220px;
        -webkit-transform: rotate(32deg);
        transform: rotate(32deg);
        top: 0;
        background: #61CE4E; }
  main > .partner {
    width: 100%;
    background: #1B3C59;
    text-align: center;
    color: white;
    padding: 40px; }
    main > .partner > .logo-partner {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      main > .partner > .logo-partner > .col-auto {
        margin: 20px; }
        main > .partner > .logo-partner > .col-auto img {
          height: 30px;
          vertical-align: middle; }

#faq {
  width: 100%;
  margin-top: 80px; }
  #faq .faq-title {
    width: 80%;
    margin: auto;
    padding: 30px 25px; }
  #faq > .question {
    display: flex; }
    #faq > .question > * {
      flex-basis: 50%;
      padding: 45px; }
      #faq > .question > * > h1 {
        margin-bottom: 20px; }
      #faq > .question > * > ul {
        list-style: none;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.5; }
    #faq > .question > .before {
      background-color: #E8EBF1; }
    #faq > .question > .after {
      background-color: #1B3C59;
      color: white; }

footer {
  width: 100%; }
  footer > .foo-list {
    height: 250px;
    width: 80%;
    margin: auto;
    display: flex; }
    footer > .foo-list > .col-3 {
      flex-basis: 25%;
      padding: 10px 25px;
      height: 100px;
      margin: auto; }
      footer > .foo-list > .col-3 img {
        max-height: 100%; }
      footer > .foo-list > .col-3 a {
        display: block;
        text-decoration: none;
        color: #1B3C59;
        font-size: 13px;
        margin-left: 20%; }
    footer > .foo-list > .col-3.pt-3 {
      padding-top: 20px; }
    footer > .foo-list > .col-3.social {
      text-align: right;
      word-spacing: 10px; }
  footer > .foo-bottom {
    height: 70px;
    line-height: 70px;
    background-color: #1B3C59;
    color: white;
    font-size: 12px; }
    footer > .foo-bottom > .foo-details {
      width: 80%;
      margin: auto;
      padding: 0 25px;
      display: flex;
      justify-content: space-between; }
